.dropdown-slider--children {
  display: none;
  transition: transform 0.5s;
  position: absolute;
  //TODO : Replace 20px with actual margin values
  top: calc(100% + 20px);
  // Display the children when the slider is drawn
  .dropdown-slider--drawn & {
    display: block;
  }
}

