.dropdown-slider--children {
  display: none;
  transition: transform 0.5s;
  position: absolute;
  top: 100%;
  // Display the children when the slider is drawn
  .dropdown-slider--drawn & {
    display: block;
  }
}

