$slider-width: 25px;
$slider-height: 3px;
$slider-bar-spacing: 8px;

/**
 * Mixin to create menu blocks from the given html element
 */
@mixin create-menu-bars($width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background-color: $toggle-close-icon-color;
  border-radius: $height/2;
  transition: all 0.3s;
}

.slider-toggle__wrapper {
  float: right;
  height: $header-height;
  line-height: $header-height;
}

.slider-toggle {
  margin: 10px;
  position: relative;

  @include create-menu-bars($slider-width, $slider-height);

  &::before,
  &::after {
    @include create-menu-bars($slider-width, $slider-height);

    position: absolute;
    content: "";
  }

  &::before {
    top: $slider-bar-spacing;
  }
  // Double the top for the last entry
  &::after {
    top: 2 * $slider-bar-spacing;
  }
}

.slider-toggle--open {
  height: 0;
  background-color: $toggle-open-icon-color;
  // new top is half od spacing as now we move up both the bars partially
  &::before {
    transform: rotateZ(45deg);
    top: $slider-bar-spacing/2;
  }

  &::after {
    transform: rotateZ(-45deg);
    top: $slider-bar-spacing/2;
  }
}
