.dropdown-slider--children {
  transition: all 0.5s;
  position: absolute;
  top: 100%;
  visibility: hidden;
  overflow: hidden;

  .dropdown-slider--drawn
  & {
    visibility: visible;
  }
}

// Class to create dropdown caret
.dropdown-slider--caret {
  @include caret(4px);

  margin-left: 6px;
}
