.header-slider {
  height: auto;
  transition: all 500ms;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: #363d45;
  width: 75vw;
  //TODO: Make a variable or calculate
  margin-top: 44px;
}

