@mixin update-link-color($linkSelector, $colorValue) {
  #{$linkSelector} {
    &, &:hover, &:active, &:visited {
      color: $colorValue
    }
  }
}

@mixin hand-pointer() {
  cursor: pointer;
  cursor: hand;
}