@import "variables";
@import "breakpoints";
@import "mixins";
@import "base";
@import "slider/slider";
@import "header/header";
@import "navigation/nav";
@import "logo";

//TODO : Move to index html file
body {
  color: #333333;
  background-color: #efefef;
  margin: 0;
  height: 200vh;
}
