@import "variables";
@import "breakpoints";
@import "mixins";
@import "base";

@import "headers-slider";
@import "logo";
@import "header";
@import "navigation";

//TODO : Move to index html file
body {
  color: #333333;
  background-color: #efefef;
  margin: 0;
}
