.site-nav__list {
  list-style: none;
  padding: 0;

  @media screen and (min-width: $mobile-breakpoint) {
    display: inline-block;
  }
}

// Update color for nav bar link
@include update-link-color(".site-nav__item-link", $nav-item-color)
