/**
 * Default
 */
.site-header {
  background-color: $header-bg-color;
  color: $header-font-color;
  position: relative;
  z-index: 10000;
  height: $header-height;
  // Ensure that header elements are aligned by top
  vertical-align: top;
}

.header-top-bar {
  z-index: 10000;
}
