/**
 * Default
 */
.site-header {
  background-color: $header-bg-color;
  color: $header-font-color;
  position: relative;
  z-index: 10000;
  height: $header-height;
}

.header-top-bar {
  z-index: 10000;
}
